bin/
*.exe
*.o
*.obj
*.dll
*.so
*.dylib

.vs/
*.user
*.userosscache
*.sln.docstates
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.iml

*.log
*.tmp
*.temp

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/ 